# logging
# glog = get log

snippet glog
import logging
logger = logging.getLogger(${0:__name__})
endsnippet

snippet le
logger.error(${0:msg})
# conflict with lambda=ld, therefor we change into Logger.debuG
endsnippet

snippet lg
logger.debug(${0:msg})
endsnippet

snippet lw
logger.warning(${0:msg})
endsnippet

snippet lc
logger.critical(${0:msg})
endsnippet

snippet li
logger.info(${0:msg})
endsnippet

snippet pp
logger.info(__import__('pprint').pformat(${1}))
endsnippet
